# Appwrite Cloud Configuration
# These are safe to expose in client-side code if using Appwrite Web SDK
APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID="69c52e61002190682b89"
APPWRITE_DATABASE_ID="trip_portal"
APPWRITE_COLLECTION_USERS_ID="users"
APPWRITE_COLLECTION_REGISTRATIONS_ID="registrations"
APPWRITE_COLLECTION_SUBMISSIONS_ID="submissions"
APPWRITE_COLLECTION_NOTIFICATIONS_ID="notifications"
APPWRITE_COLLECTION_LIVEPOPUPS_ID=live_popups
APPWRITE_API_KEY=standard_f5cb765bd194e0c4ac9161d7257cd189a2c7f10c11ab370efee708ec90d03e80107ba014f002f02b8d0f8797f7ca92d210a9ef1338b324d3e3556f2fcb890497f1cbed40b8f91529f146e14621d42d8f54d596d855b5feb50c65edb5c65c4ad3b90ef1b36ff9b3e0d0d1e528e6e4300dacaaa40e1b01d59152434b683f360013

TRIP_JWT_SECRET=officialjagaban@1
TRIP_ADMIN_PASSCODE=Jagaban@1

NEXT_PUBLIC_APPWRITE_PROJECT_ID = "69c52e61002190682b89"
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = "Trip Flights/Logistics Services"
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://nyc.cloud.appwrite.io/v1"
        