# Appwrite Cloud Configuration
# These are safe to expose in client-side code if using Appwrite Web SDK
APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID="Database ID"
APPWRITE_DATABASE_ID="trip_portal"
APPWRITE_COLLECTION_USERS_ID="users"

TRIP_JWT_SECRET=
TRIP_ADMIN_PASSCODE=Jagaban@1

NEXT_PUBLIC_APPWRITE_PROJECT_ID = "69c52e61002190682b89"
NEXT_PUBLIC_APPWRITE_PROJECT_NAME = "Trip Flights/Logistics Services"
NEXT_PUBLIC_APPWRITE_ENDPOINT = "https://nyc.cloud.appwrite.io/v1"
        